// nextflow.config

params {
    fqfiles = "/vast/igc/analyses/april/KUO-FEN/evan/231213_UCSD/fastqs/120423Parse*_{R1,R2}_001.fastq.gz"
    sample_list = "/vast/igc/analyses/april/KUO-FEN/evan/231213_UCSD/cj/sample_list.txt"
    outdir = "/vast/igc/analyses/april/KUO-FEN/evan/231213_UCSD/fastqs/split-fq"
}
